<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}"/>

    <title>User Info . spring-oauth-client</title>

    <th:block th:insert="~{fragments/main::header-css}"/>
</head>
<body ng-app>
<div class="container">
    <a th:href="@{/}">Home</a>
    <h2>User Info
        <small>数据来源于 'spring-oauth-server' 中提供的API接口</small>
    </h2>

    <dl class="dl-horizontal">
        <dt>username</dt>
        <dd><code>${userDto.username}</code></dd>
        <dt>uuid</dt>
        <dd><code>${userDto.uuid}</code></dd>
        <dt>phone</dt>
        <dd><code>${userDto.phone}</code></dd>
        <dt>email</dt>
        <dd><code>${userDto.email}</code></dd>
        <dt>privileges</dt>
        <dd><code>${userDto.privileges}</code></dd>

    </dl>

    <a href="javascript:history.back();" class="btn btn-default">Back</a>


    <div th:replace="~{fragments/main :: footer}"/>
</div>
</body>
</html>